<h1>Listing requirements</h1>
<%= form_for @search do |f| %>
    <%= f.text_field :body_contains  %>
    <%= f.submit "Search" %>
<% end %>

<table>
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th>Parent requirement</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @requirements.each do |requirement| %>
  <tr>
    <td><%= requirement.title %></td>
    <td><%= requirement.body %></td>
    <td><%= requirement.parent_requirement_id %></td>
    <td><%= link_to 'Show', requirement %></td>
    <td><%= link_to 'Edit', edit_requirement_path(requirement) %></td>
    <td><%= link_to 'Destroy', requirement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Requirement', new_requirement_path %>
