<p id="notice"><%= notice %></p>

<b>Id:</b> <%= @requirement.id %><br />
<b>Title:</b> <%= @requirement.title %><br />
<b>Body:</b> <%= @requirement.body %><br />
<b>Parent:</b> <%=link_to @requirement.parent_requirement_id, requirement_path(@requirement.parent_requirement_id) %> <br />

<br />
Traces:
<p>
<% @requirement.traces.each do |t| %>
<%= render :partial => t, :locals => {:trace => t} %>
<% end %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %> | 
<%= link_to 'Add child', :controller => :requirements, :action => :new, :requirement => {:parent_requirement_id => @requirement.id} %> | 
<%= link_to 'New Trace', :controller => :traces, :action => :new, :trace => {:requirement_id => @requirement.id } %>
